@model IEnumerable<Sipl.Models.NetUserViewModel>

@{
    ViewBag.Title = "_StudentPage";
}

<h2>List of Student</h2>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>

        </tr>
    }


</table>
<div>
    @*<a type="button" class="btn btn-primary btn-sm"
           href="@Url.Action("UserProfile","TeacherInfo")">
            <span class="glyphicon glyphicon-home"></span>
            <span>Back to Main Menu</span>
        </a>
        @Html.RouteLink("Back to Main Menu ", "Default",
                    new { action = "UserProfile", controller = "TeacherInfo",id = ViewBag.UserId  })*@
    <a type="button" class="btn btn-primary btn" href="@Url.Action("UserProfile","TeacherInfo",new { id =  ViewBag.UserId})"

    <span>Back To HomePage</span>
</a>


</div>
