@model IEnumerable<Sipl.Areas.Admin.Models.FilterViewModel>
@{
    ViewBag.Title = "TeacherInSubjectlist";
}
<h2>TeacherInSubjectlist</h2>
<p>
    <a type="button" class="btn btn-primary btn-sm"
       href="@Url.Action("UserSearchView","TeacherInfo")">
        <span class="glyphicon glyphicon-list"></span>
        <span>Back to List</span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectAssign)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects)
            </td>
        </tr>
    }
</table>


